body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('./wp13110001-tyrion-lannister-quotes-wallpapers.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;

}
h1{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Arial, sans-serif;
}
.loginform{
    position: absolute;
    width: 500px;
    height: 650px;
    background: rgba(22, 41, 162, 0.688);
    color: rgb(221, 20, 130);
    top: 55%;
    left:80%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 30px;
}
.logoimage{
    position: absolute;
    border-radius: 250px;
    width: 100px;
    height: 100px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.form-label{
    position: static;
    display: block;
    font-size: 30px;
    color:#fffdfd;
    margin-top: 85px;
    padding: 50px;
    
}
.form-label1{
    position: static;
    display: block;
    font-size: 30px;
    color:#fff;
    margin-top: 0px;
    padding: 50px;
    
}

input[type="text"] {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 300px;
    height: 40px;
    background: transparent;
    border: none;
    border-bottom: 4px solid white;
    color: white;
    font-size: 22px;
}
input[type="password"] {
    position: absolute;
    top: 60%;
    left: 10%;
    width: 300px;
    height: 40px;
    background: transparent;
    border: none;
    border-bottom: 3px solid #fff;
    color: white;
    font-size: 22px;
}
button[type="submit"] {
    position: absolute;
    top: 70%;
    left: 10%;
    margin-left: 50px;
    width: 250px;
    height: 40px;
    background: black;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 20px;
}
.loginform a{
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: lightgrey;
    padding-left: 105px;
    
}

.loginform a:hover{
    color: white;
}

button:hover{
    color: black;
    background-color: white;
}